/* Global vars */

:root {
    --main-color: #10cab7;
    --secondry-color: #2c4755;
    --section-padding: 30px;

}

/* Start global Rules  */



* {
    box-sizing: border-box;

}

html {

    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}

/* Media quryies */
/* small screens */

@media (min-width :768px) {
    .container {
        width: 750px;
    }
}

/* mediam screens */

@media (min-width :992px) {
    .container {
        width: 970px;
    }
}

/* large screens */

@media (min-width :1200px) {
    .container {
        width: 1170px;
    }
}

/* End global Rules  */

/* components */
.special-heading {
    color: #f6f6f6;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    letter-spacing: -3px;

}

.special-heading+p {
    margin: -40px 0 0;
    text-align: center;
    font-size: 20px;
}

@media (max-width :768px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin: -25px 0 0;
        font-size: 16px;

    }
}

/*end components */



/* Start Header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .logo {
    width: 40px;
}

.header .linkes {
    position: relative;
}

.header .linkes:hover ul {
    display: block;
}

.header .linkes ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    min-width: 200px;
    background-color: #eee;
    border-radius: 10px;
    top: calc(100% + 15px);
    right: 0px;
    display: none;
    z-index: 1;
}

.header .linkes ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #eee transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.icon {
    font-size: 20px;
    color: #b2b2b2;
}

.header .linkes ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.header .linkes ul li a:hover {
    padding-left: 25px;
}

.header .linkes ul li:not(:last-child) a {
    border-bottom: 1px #ddd solid;
}

/* End Header */
/* start landing  */
.landing {
    background-image: url(../Media/images/pexels-photo-355770.jpeg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 100%;
    width: 320px;
}

.landing .intro-text h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--main-color);
    margin: 0;
}

.landing .intro-text p {
    font-size: 16px;
    line-height: 1.8;
}

/* end landing  */
/* Start Featurs */
.featurs {
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
}

.featurs .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.featurs .feat {
    padding: 20px;
    text-align: center;
}

.featurs .feat i {
    color: var(--main-color);
    font-size: 50px;
}

.featurs .feat h3 {
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;

}

.featurs .feat p {
    line-height: 1.6;
    font-size: 16px;
    color: #6a6a6a;
}

/* end Featurs */

/* start Services */
.services {
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
}

.service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;

}

.service-content .srv {

    display: flex;
    margin-bottom: 30px;
}

@media (max-width :768px) {

    .service-content .srv {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.service-content .srv i {
    color: var(--main-color);
    font-size: 40px;
    flex-basis: 60px;

}

.service-content .srv .text {
    flex: 1;

}

.service-content .srv .text h3 {
    margin: 0;
    font-weight: 800;
}

.service-content .srv .text p {
    color: #333;
    font-weight: 300;
    line-height: 1.8;
}

.service-content .srv .image {
    text-align: center;
    position: relative;
    margin-left: 50px;

}

.image .colored-div {
    width: 80px;
    height: 120%;
    background-color: var(--secondry-color);
    position: absolute;
    top: -10%;
    right: -15%;
    z-index: -1;

}

.service-content .srv .image img {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

@media (max-width : 1199px) {
    .image-col {
        display: none;
    }
}

/* end Services */

/*Start portfolio  */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);


}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;


}

.portfolio .portfolio-content .card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.portfolio .portfolio-content .card img {
    max-width: 100%;

}

.portfolio .portfolio-content .info {
    padding-left: 20px;
    padding-right: 10px;
}

.portfolio .portfolio-content .info h3 {
    font-weight: 800;

}

.portfolio .portfolio-content .info p {
    font-size: 10px;
    line-height: 1.8;
}

/*end portfolio  */

/*start about  */

.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);


}

.about .about-content {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

@media(max-width:991px) {

    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}


.about .about-content .image {
    position: relative;
    width: 240px;
    height: 306px;
}

@media(max-width:991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}

.about .about-content .image img {
    max-width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    width: 80Px;
    height: 120%;
    background-color: #ddd;
    top: -10%;
    left: -20px;
    z-index: -1;
}

.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 180px;
    border-left: var(--main-color) solid 70px;
    border-bottom: var(--main-color) solid 60px;
    right: -110px;
    top: -10px;
    z-index: -1;
}

@media(max-width:991px) {

    .about .about-content .image::after,
    .about .about-content .image::before {
        display: none;
    }
}

.about .about-content .text {
    flex-basis: calc(100% - 400px);
}

.about .about-content .text p:not(:last-child) {
    font-weight: 800;
    color: var(--secondry-color);
    line-height: 1.6;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.about .about-content .text p:last-child {
    font-size: 12px;
    line-height: 1.8;

}

.about .about-content .text hr {
    width: 50%;
    border-color: var(--main-color);
    display: inline-block;
}

/*end about  */

/*start contact  */

.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

}

.contact .info {
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
}

.contact .info .lable {
    font-weight: 800;
    color: var(--secondry-color);
    font-size: 45px;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link {
    display: block;
    font-weight: 800;
    color: var(--main-color);
    font-size: 40px;
    text-decoration: none;
    margin-left: 40px;

}

@media (max-width:768px) {

    .contact .info .lable,
    .contact .info .link {
        font-size: 30px;

    }
}

.contact .info .social {
    margin-top: 20px;
    display: flex;
    font-size: 12px;
    margin-left: 80px;

    align-items: center;
}

.contact .info .social i {
    margin-left: 10px;
    font-size: 16px;
    color: var(--secondry-color);
}


/*end contact  */

/* start footer  */
.footer {
    background-color: var(--secondry-color);
    color: white;
    padding: 20px 10px;
    text-align: center;
    font-size: 12px;
}

.footer span {
    color: var(--main-color);
    font-weight: bold;
}

/* end footer  */